<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Title</title>
    {% endif %}
  </head>
  <body>
    <div><b>ConceptApp:</b></div>
    <hr>
    <form action="" method="post" name="edit">
    {{form.hidden_tag()}}
        <table>
            <tr>
                <td>Enter search terms:</td>
                <td>{{form.terms(size=25)}}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Search Association"></td>
            </tr>
        </table>
    </form>
    <hr>
    {% if message %}
    <div>{{message}}</div>
    <hr>
    {% endif %}
    {% if image_title %}
    <div>Image result for: {{image_title}}</div>
    {% endif %}    
    {% if link %}
    <img src="{{link}}" style="max-width:400px">
    {% endif %}
  </body>
</html>